@model IEnumerable<GummiBearKingdom.Models.Product>

@{
    ViewData["Title"] = "GummiBear Kingdom - Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.add-product').click(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("ShowAddForm")',
                success: function (result) {
                    $('.add-form').html(result);
                }
            });
        });
    });
</script>

<h1>Products</h1>

<div class="product-container">
    @foreach (var product in Model)
    {
        <div class="product">
            <h3>@Html.ActionLink((string) product.Name, "Details", new { id = product.ProductId })</h3>
            <p><span class="country">@product.CountryOfOrigin</span></p>
            <p><span class="price">@product.Cost</span></p>
        </div>
    }
</div>
<div class="add-container">
    <button type="button" class="btn btn-primary add-product">Add New Product</button>
    <div class="add-form"></div>
</div>